body {
	padding: 15%;
	text-align: center;
	/*background-color: #000;*/
	/*font-family: Arial, Sans-Serif;*/
	
	/*font-weight: bolder;*/
}

a, a:visited, a:hover {
	text-decoration: none;
}

h1 {
	/*font-size: xx-large;*/
	font-size: 12em;
	text-transform: uppercase;
}